@using PlayCode2012Quiz.Models
@model PlayCode2012Quiz.Models.PlayCode2012QuizDB

@{
    ViewBag.Title = "Dashboard";
}
@section scripts{
    <script type="text/javascript" src="~/Views/Player/Dashboard.js"></script>    
}


<h2>Dashboard</h2>

<div class="main-content">
    @Html.Partial("DashboardMainContent", Model)
</div>
