@model PlayCode2012Quiz.Models.PlayCode2012QuizDB

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table>
    <tr>
        <th>name</th>
        @foreach(var n in Enumerable.Range(1, Model.Questions.Count()))
        {
            <th>@("Q" + n.ToString())</th>
        }
    </tr>

    @foreach (var player in Model.Players.ToArray())
    {
        <tr>
            <td>@player.Name</td>
            @foreach(var n in Enumerable.Range(1, Model.Questions.Count()))
            {
                <td>@("Q" + n.ToString())</td>
            }
        </tr>
    }

</table>

