@model PlayCode2012Quiz.Models.PlayCode2012QuizDB
@using PlayCode2012Quiz.Models
@using PlayCode2012Quiz.Helpers

@{
    var q = Model.Questions.Find(Model.Context.First().CurrentQuestionID);
    var playerID = Model.Players.First(p => p.Name == User.Identity.Name).PlayerID;
    var yourAns = Model.Answers.First(a => a.PlayerID == playerID && a.QuestionID == q.QuestionID);
    var choiced = yourAns.ChoincedOptionIndex >= 0 ? q.GetOptions()[yourAns.ChoincedOptionIndex] : null;
    var correctOption = q.GetOptions()[q.IndexOfCorrectOption];
}

<h3>Question</h3>

<p>@Html.Markdown(q.Body)</p>

<h3>Your Choice is...</h3>

@if (choiced == null)
{
    <p>no choice.</p>
}
else{
    <div>@Html.Markdown(choiced)</div>
}

@if (yourAns.Status == 2)
{
    <h3 class="correct">Correct!</h3>
}
else{
    <h3 class="incorrect">Incorrect...</h3>
    
    <p>Correct is:</p>
    <div>
        @Html.Markdown(correctOption)
    </div>
}

@if(string.IsNullOrEmpty(q.Comment) == false)
{
    <h3>Details...</h3>

    <div>@Html.Markdown(q.Comment)</div>
}
