@model PlayCode2012Quiz.Models.PlayCode2012QuizDB
@using PlayCode2012Quiz.Models
@using PlayCode2012Quiz.Helpers

@{
    var q = Model.Questions.Find(Model.Context.First().CurrentQuestionID);
    var playerID = Model.Players.First(p => p.Name == User.Identity.Name).PlayerID;
    var yourAns = Model.Answers.First(a => a.PlayerID == playerID && a.QuestionID == q.QuestionID);
    var choiced = yourAns.ChoincedOptionIndex >= 0 ? q.GetOptions()[yourAns.ChoincedOptionIndex] : null;
}

<h3>Question</h3>

<p>@Html.Markdown(q.Body)</p>

<h3>Your Choice is...</h3>

@if (choiced == null)
{
    <p>no choice.</p>
}
else{
    <div>@Html.Markdown(choiced)</div>
}

<p>Please wait...</p>
