body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Dashboard
-----------------------------------------------------------*/

.answer-status
{
    display:block;
    width:2em;
    height:2em;
    zoom:1;
    background-color:#ddd;
}

/* entried, and wainting. */
.answer-status-1
{
    background-color:#ffd800;
}

/* correct. */
.answer-status-2
{
    background-color:#20ca20;
}

/* incorect. */
.answer-status-3
{
    background-color:#ff6a00;
}

/* Player
-----------------------------------------------------------*/
pre
{
    font-family:Consolas, monospace;
    border:solid 1px;
    border-color:#0094ff;
    padding:1em;
    background-color:#f2f8fc;
}

.correct,
.incorrect
{
    color:white;
    width:10em;
    padding:0.3em;
}
.correct
{
    background-color:#20ca20;
}

.incorrect
{
    background-color:#ff6a00;
}